*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    background-color: rgb(21, 40, 68);
}

form{
    max-width:500px;
    width:100%; 
    border-radius:4px; 
    padding:60px 30px 20px 24px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:#fff;
}
form div{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
label{
    width:30%;
}
input{
    border:none;
    border-bottom:1px solid black;
    outline:none;
    width:70%;
    color:#555;
    padding-block:16px;    
}
textarea{
    border:none;
    border-bottom:1px solid black;
    outline:none;
    width:70%;
    color:#555;
    padding-block:16px; 
    height:100px;
}

button{
    display:block;
    margin-inline:auto;
    margin-top:20px;
    padding:8px 26px;
    border-radius:4px;
    background-color: rgb(21, 40, 68);
    color:white;   
    border:none; 
}
